<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.veil.snapshots</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/m4_mini/dev/veil-snapshots/build-snapshot.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/m4_mini/dev/veil-snapshots</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/m4_mini/dev/veil-snapshots/work/cron.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/m4_mini/dev/veil-snapshots/work/cron.log</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Month</key><integer>1</integer>
            <key>Day</key><integer>1</integer>
            <key>Hour</key><integer>3</integer>
            <key>Minute</key><integer>17</integer>
        </dict>
        <dict>
            <key>Month</key><integer>4</integer>
            <key>Day</key><integer>1</integer>
            <key>Hour</key><integer>3</integer>
            <key>Minute</key><integer>17</integer>
        </dict>
        <dict>
            <key>Month</key><integer>7</integer>
            <key>Day</key><integer>1</integer>
            <key>Hour</key><integer>3</integer>
            <key>Minute</key><integer>17</integer>
        </dict>
        <dict>
            <key>Month</key><integer>10</integer>
            <key>Day</key><integer>1</integer>
            <key>Hour</key><integer>3</integer>
            <key>Minute</key><integer>17</integer>
        </dict>
    </array>
</dict>
</plist>
